body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.flashcard {
    border: 1px solid #555; /* Dark border */
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    background-color: #444; /* Darker card background */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.question {
    font-size: 48px;
}

.answer {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
